body {
    background-color: #00ABE4;
    color: white;
}

h1 {
    color: blue;
    font-family: Georgia, serif;
    width: 150px;
    border: 4px dashed hotpink;
}

.navbar-nav{
    margin-left: auto;
}
#name {
    font-family: Georgia, serif;
    font-weight: bolder;
    margin-top: 50px;
}

#intro {
    font-family: Georgia, serif;
    font-weight: bolder;
}

#skills {
    text-align: center;
}

#icons:hover {
    transform: scale(1.2);
}

.Skills {
    height: 80px;
    width: 400px;
    display: flex;
    text-align: center;
    border: 2px solid black;
    margin-left: 480px;
    margin-right: 480px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px orangered;
    transition: 2s;
}

.Skills:hover {
    box-shadow: 0px 8px 16px orangered;
}

#project {
    text-align: center;
}

.project-container {
    height: 220px;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px lime;
    transition: 2s;
}   

.project:hover {
    box-shadow: 0px 8px 16px lime;
}

img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.desc {
    padding: 0 2px 0 2px;
    font-size: larger;
}

#navbar {
    border: 5px solid rgb(191, 188, 222);
    background-color: rgb(208, 171, 23, 0.9);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 240px;
    margin-left: 500px;
    margin-right: 500px;
}

#degree {
    border: 5px solid rgb(191, 188, 222);
    background-color: rgb(208, 171, 23);
    border-radius: 20px;
    width: 200px;
}

h1::first-letter {
    color: red;
}

h3::selection {
    background-color: rgb(12, 166, 114)
}

#Submit {
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 10px;
}

#Submit:hover {
    background-color: rgb(105, 188, 255);
    color: white;
}

.Contact {
    background-color: rgb(212, 131, 17);
    border: 5px solid rgb(191, 188, 222);
    border-radius: 10px;
    width: 200px;
}

#pics {
    margin-right: 500px;
}

.pics {
    border-radius: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 300px;
    width: 200px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    transform: scale(1.5);
    box-shadow: 6px 6px 10px rgb(190, 105, 196);
    display: inline-block;
}

#info {
    background-color: rgb(107, 244, 125, 0.5);
    border: 5px solid rgb(191, 188, 222);
    border-radius: 20px;
    width: 240px;
}

li {
    display: inline;
}

.Project {
    background-color: rgb(107, 244, 125);
    border: 5px solid rgb(191, 188, 222);
    border-radius: 20px;
    width: 200px;
}

.Accounts {
    background-color: rgb(212, 131, 17);
    border: 5px solid rgb(191, 188, 222);
    border-radius: 20px;
    width: 200px;
}

.archery-button {
    background-color: #70e8e8;
    border: 4px solid #d54a4a;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 1s;
}

.archery-button:hover {
    border-radius: 15px;
}

.btn {
    background-color: aqua;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    border: 5px solid rgb(191, 188, 222);
    background-color: rgb(212, 131, 17);
    border-radius: 20px;
    padding: 10px;
    width: 340px;
}